-r requirements.txt
backports.shutil-get-terminal-size==1.0.0
coverage==4.1
decorator==4.0.10
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
py==1.4.31
pytest==2.9.2
pytest-django==2.9.1
simplegeneric==0.8.1
traitlets==4.2.1
mixer==5.5.7
mock==2.0.0
flake8
django-seed==0.1.6
django-extensions==1.7.4
behave==1.2.5
behave-django==0.4.0
splinter==0.7.5

#important
#use this versions
pytest-cov==2.1.0
fake-factory==0.5.5
isort==4.2.5

glob2==0.4.1
Mako==1.0.4
MarkupSafe==0.23
model-mommy==1.2.6
parse==1.6.6
parse-type==0.3.4
pytest-bdd==2.16.1
pytest-mock==1.1
selenium==2.53.5
six==1.10.0
django-debug-toolbar==1.6
pylint==1.6.5