django==1.10.3
django-admin-honeypot==1.0.0
easy-thumbnails==2.3
django-model-utils
#
pendulum==0.6.5
django-crispy-forms==1.6.1
django-bootstrap3-datetimepicker==2.2.3
django-datetime-widget==0.9.3
django-allauth==0.29.0

# https://pypi.python.org/pypi/geoip2
python-dateutil==2.6.0
django-braces==1.10.0
django-bootstrap-pagination==1.5.1
whitenoise==3.2.2
