{% extends 'music/base.html' %}
{% load staticfiles %}

 	{% block style %}
	{% endblock %}

	

	{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h2>
				<a class="btn right btn-md" href="{% url 'album_create' %}">Create Album</a></h2>
			
			 <h2>Music ListView</h2>
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>Title</th>
			        <th>artist_name</th>
			        <th>nb_title</th>
			        <th></th>
			        <th></th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
				{% for music in object_list %}
			      <tr>
			        <td>{{music.title}}</td>
			        <td>{{music.artist_name}}</td>
			        <td>{{music.nb_title}}</td>
			        <td>
			        	<a href="{% url 'music:album_detail' music.id %}" class="btn btn-info btn-sm">Show</a>
			        </td>
			        <td>
			        	<a href="{% url 'music:album_update' music.id %}" class="btn btn-warning btn-sm">Update</a>
			        </td>
			        <td>
			         <form class="right" method="POST" action="{% url 'album_delete' music.id %}">
				         {% csrf_token %}<input class="btn btn-danger btn-sm" type="submit" value="DELETE">
				      </form>
			        </td>
			      </tr>
				{% endfor %}
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
	
		
	
	
	{% endblock %}