{% extends 'base.html' %}
{% load staticfiles %}

 	{% block style %}
	{% endblock %}

	

	{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
			
			 <h2>Music ListView</h2>
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>Title</th>
			        <th>artist_name</th>
			        <th>nb_title</th>
			        <th></th>
			        <th></th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
				{% for music in object_list %}
			      <tr>
			        <td>{{music.title}}</td>
			        <td>{{music.artist_name}}</td>
			        <td>{{music.nb_title}}</td>
			        <td>
			        	<a href="#" class="btn btn-info btn-sm">Show</a>
			        </td>
			        <td>
			        	<button type="button" class="btn btn-warning btn-sm">Update</button>
			        </td>
			        <td>
			        	<button type="button" class="btn btn-danger btn-sm">Delete</button>
			        </td>
			      </tr>
				{% endfor %}
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
	
		
	
	
	{% endblock %}