{% extends 'ecommerce/base.html' %}
{% load staticfiles %}

{% block style %}
{% endblock %}



{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-1-offset">
			<p>ID: {{ object.id }}</p>
			<p>Title: {{ object.car_name }}</p>
			<p>Title: {{ object.car_model }}</p>
			<p>Description: {{ object.description }}</p>
			<p>Image_url: {{ object.image }}</p>
			<p>price: {{ object.price }}</p>
			<p>Show Image <br>
				<img src="{{ object.image.url }}"/>
			</p>
		</div>
	</div>
</div>


{% endblock %}

